.container {
    font-family: Arial, 'Times New Roman', Times, serif;
    line-height: 1.5em;
    margin: 0 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
.card {
    display: table;
    position: relative;
    height: 450px;
    width: 50%;
    max-width: 300px;
    background-color: rgb(57, 52, 52);
    color:white;
    margin-bottom: 20px;
    border-radius: 20px;
    transition: 1s;
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding-left:10px;
    padding-right:10px;
}

.card::after { /*adds an rgb background behind the card*/
    --neg-border-width: -5px;
    position: absolute;
    top: var(--neg-border-width); bottom: var(--neg-border-width);
    left: var(--neg-border-width); right: var(--neg-border-width);
    background: linear-gradient(60deg, red, orange, blue, indigo, violet);
    content: ''; /*this is important*/
    z-index: -1;
    border-radius: 25px;
    box-shadow: 0px 0px 100px 2px red;
    animation: rgb 4s infinite;
    transition: 1s;
    background-size: 200% 200%;
    background-position: 0% 50%;
}
.wrapper {
    transition: 1s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}
.wrapper:hover {
    scale: 1.1;
    margin-top: 70px;
    margin-bottom: 150px;
}
.card:hover::after{
    animation: rgb 4s infinite, rotate-bg 2s infinite;
    rotate: 15deg;
}

@keyframes rotate-bg{
    0% {
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

@keyframes rgb {
    0% {box-shadow: 0px 0px 100px 2px red;}
    20% {box-shadow: 0px 0px 100px 2px orange;}
    40% {box-shadow: 0px 0px 100px 2px blue;}
    60% {box-shadow: 0px 0px 100px 2px indigo;}
    80% {box-shadow: 0px 0px 100px 2px violet;}
}

.vertically-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.navbar button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: rgb(0, 81, 255);
    background-color: white;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar button:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  }
  
  .navbar button:focus {
    outline: none;
  }

